<ion-content
class="ion-content-w-linear-bg"
[forceOverscroll]="false">
  <section class="painel-rua-gastronomica">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-grid class="no-padding">
            <ion-row class="no-padding">
              <ion-col size="12" class="no-pad-sides">
                <ion-text mode="ios" class="d-block line-height-20 color-gray-text">
                  <h2 class="fs-20 font-baloo">Visão <b>geral</b></h2>
                  <p class="fs-14">Rua Gastronômica de Santos</p>
                </ion-text>
              </ion-col>

              <ion-col
              *ngFor="let info of lenghts_to_save_time; let i = index"
              size="6"
              size-sm="4"
              size-md="3"
              size-lg="1.5">
                <ion-item
                [disabled]="info.list.length === 0"
                [button]="true"
                [detailIcon]="info.list.length ? 'chevron-forward-outline' : 'lock-closed-outline'"
                size="12"
                lines="none"
                class="dashboard-item">
                  <ion-text mode="ios">
                    <p class="font-baloo length" [ngClass]="[ info.list.length ? 'color-green' : 'color-gray-text']">{{ info.list.length }}</p>
                    <p class="color-gray-text type fs-10 txt-uppercase" *ngIf="info.list.length < 2">
                      {{ info.text.pt }}
                    </p>
                    <p class="color-gray-text type fs-10 txt-uppercase" *ngIf="info.list.length > 1">
                      {{ info.plural.pt }}
                    </p>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="12" *ngIf="establishments && establishments.length === 0">
          <ion-text mode="ios">
            <p class="fs-12 color-gray-mid">Como não encontramos pelo menos um estabelecimento, ainda não foi possível definir a quantidade.</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <div class="swiper-inset-wrapper" [ngClass]="{ 'no-padding': establishments && establishments.length === 0 }">
    <swiper-container
    (swiperreachbeginning)="swiperReachedBeginning()"
    (swiperreachend)="swiperReachedEnd()"
    class="full-width swiper-w-relative-pagination"
    #establishmentsSwiper
    [freeMode]="true"
    [autoHeight]="false"
    slides-offset-before="16"
    slides-offset-after="16"
    initial-slide="0"
    [slidesPerView]="1"
    space-between="16"
    [breakpoints]="{
     '200' : {
        slidesPerView: 1.7
      },
      '363' : {
        slidesPerView: 1.9
      },
      '445' : {
        slidesPerView: 2.4
      },
      '667' : {
        slidesPerView: 3.4
      },
      '792' : {
        slidesPerView: 3.8
      },
      '991' : {
        slidesPerView: 4.5
      },
      '1200' : {
        slidesPerView: 3.8
      },
      '1300' : {
        slidesPerView: 4.5
      },
      '1600' : {
        slidesPerView: 4.9
      },
      '2000' : {
        slidesPerView: 6.2
      },
      '2300' : {
        slidesPerView: 7.3
      }
    }"
    [init]="true">
      <ng-container *ngIf="establishments && establishments.length > 0">
        <swiper-slide
        *ngFor="let establishment of establishments; let i = index"
        class="unlock-shadow-from-swiper auto-width">
          <ion-card
          mode="ios"
          class="establishment-card-vertical"
          lines="none">
            <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" *ngIf="establishment.isPremium"></ion-icon>

            <ion-card-content class="txt-center" mode="ios">
              <div class="logo-wrapper mg-bottom-12">
                <div class="logo-container"
                [ngClass]="{'logo-needs-gray-2' : establishment.value === 'galeteria-santista'}">
                  <ion-img
                  [src]="'./../../../../assets/images/establishments/' + establishment.value + (establishment.value === 'bistro-14' || establishment.value === 'galeteria-santista' ? '.png' : '.jpg')">
                  </ion-img>
                </div>
              </div>

              <ion-text mode="ios" class="txt-center">
                <p class="color-gray-text txt-uppercase type font-w-thin type">
                  {{ establishment.mainType.text.pt }}
                </p>
                <h2 class="color-gray-text font-baloo name"><b>{{ establishment.name }}</b></h2>
                <p class="number color-gray-text">n&ordm; {{ establishment.adress.number }}</p>
              </ion-text>
            </ion-card-content>

            <div class="button-list">
              <ion-list mode="ios" lines="none">
                <ion-item
                (click)="seeEstablishment(establishment)"
                mode="ios"
                lines="none"
                [button]="true"
                class="reserve">
                  Ver <b class="mg-left-5">detalhes</b>
                </ion-item>

                <ion-item
                class="remove"
                (click)="showAlertToRemove(establishment)"
                mode="ios"
                lines="none"
                [button]="true"
                [detailIcon]="'trash-outline'">
                  <b class="mg-right-5">Remover</b> cliente
                </ion-item>
              </ion-list>
            </div>
          </ion-card>
        </swiper-slide>
      </ng-container>

      <ng-container *ngIf="!establishments">
        <swiper-slide
        *ngFor="let establishment of [1,2,3,4,5]; let i = index"
        class="unlock-shadow-from-swiper auto-width">
          <ion-skeleton-text [animated]="true" class="like-establishment"></ion-skeleton-text>
        </swiper-slide>
      </ng-container>
    </swiper-container>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12" *ngIf="establishments && establishments.length === 0">
          <ion-text mode="ios">
            <p class="fs-14 color-gray-text">Não existem estabelecimento cadastrados.</p>
          </ion-text>
        </ion-col>

        <ng-container *ngIf="establishments && establishments.length > 0">
          <ion-col size="6">
            <div class="controls-wrapper">
              <ion-button
              [disabled]="hideLeftControl"
              (click)="slideToPrev()"
              mode="md"
              class="rgs-main-solid fs-14 mg-right-8"
              shape="round"
              title="">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>

              <ion-button
              [disabled]="hideRightControl"
              (click)="slideToNext()"
              mode="md"
              class="rgs-main-solid fs-14"
              shape="round"
              title="">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-text
            class="fs-12 color-gray-mid line-height-20 txt-lowercase txt-right"
            mode="ios">
              <p><span class="fs-14 font-w-bold">{{ establishments.length }}</span> estabelecimentos<ng-container *ngIf="establishments.length > 1">s</ng-container></p>
            </ion-text>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </div>

  <app-add [feature]="'PLACE'"></app-add>
</ion-content>
