<ion-content
[forceOverscroll]="false">
  <section class="admins-modal">
    <form [formGroup]="adminsFormGroup">
      <ion-grid>
        <ion-row>
          <ion-col
          size="12"
          class="txt-right">
            <ion-button
            (click)="closeModal()"
            title="Fechar modal"
            class="rgs-gray-solid fs-12"
            mode="md"
            shape="round">
              Fechar modal
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <h1 class="fs-24 font-baloo color-gray-text">
                Informações do <b>adm</b>
              </h1>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <div
            [ngClass]="{
            'has-error' : (adminsFormGroup.get('role')?.invalid &&
            (adminsFormGroup.get('role')?.touched ||
            adminsFormGroup.get('role')?.dirty))}"
            class="rgs-input-wrapper select-on-form full-width label-w-white item-has-button-at-end">
              <ion-item
              [disabled]="true"
              class="has-select-on-form disabled-w-opacity-1"
              lines="none"
              mode="ios">
                <ion-select
                (ionChange)="relationshipChanged()"
                [cancelText]="'Cancelar'"
                [okText]="'Definir'"
                formControlName="role"
                class="select-on-form"
                toggleIcon="''"
                interface="alert"
                [interfaceOptions]="interfaceOptions"
                [placeholder]="'Tipo de usuário'" mode="ios">
                  <ion-select-option
                  *ngFor="let type of MOCK_USER_TYPES"
                  [value]="type.value">
                    {{ type.text.pt }}
                  </ion-select-option>
                </ion-select>

                <ion-icon
                name="chevron-down-outline"
                class="color-gray-light" />
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              adminsFormGroup.get('type')?.invalid &&
              (adminsFormGroup.get('type')?.touched || adminsFormGroup.get('type')?.dirty)">
                <p
                *ngIf="adminsFormGroup.get('type')?.hasError('required')"
                class="fs-12 color-danger">
                  campo obrigatório
                </p>
              </ion-text>
            </div>

            <div
            class="mg-top-8"
            *ngIf="adminsFormGroup.get('role')?.value">
              <ion-chip
              [ngClass]="adminsFormGroup.get('role')?.value === UserTypeEnum.ADMINISTRADOR ? 'admin' : 'gray'"
              mode="ios"
              class="txt-uppercase as-badge">
                {{ adminsFormGroup.get('role')?.value === UserTypeEnum.ADMINISTRADOR ? 'Administrador' : 'Não é administrador' }}
              </ion-chip>
            </div>
          </ion-col>

          <ion-col
          size="12"
          class="no-pad-top">
            <ion-item
            mode="ios"
            lines="none"
            class="rgs-item-toggle disabled-w-opacity-1 mg-bottom-8"
            [disabled]="true">
              <ion-toggle
              justify="space-between"
              mode="ios"
              formControlName="isAdmin">
                É administrador? <span class="font-w-bold" [ngClass]="{ 'color-green': adminsFormGroup.get('isAdmin')?.value }">{{ adminsFormGroup.get('isAdmin')?.value ? 'Sim' : 'Não' }}</span>
              </ion-toggle>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <div
            [ngClass]="{
            'has-error' : (adminsFormGroup.get('name')?.invalid &&
            (adminsFormGroup.get('name')?.touched ||
            adminsFormGroup.get('name')?.dirty))}"
            class="rgs-input-wrapper full-width white-background-item label-w-white">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="clearFieldKeepJustName($event)"
                (keydown)="preventWhitespace($event)"
                enterkeyhint="next"
                mode="ios"
                [label]="'Primeiro nome'"
                labelPlacement="floating"
                formControlName="name"
                type="text"
                inputmode="text">
                </ion-input>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              adminsFormGroup.get('name')?.invalid &&
              (adminsFormGroup.get('name')?.touched || adminsFormGroup.get('name')?.dirty)">
                <p
                *ngIf="adminsFormGroup.get('name')?.hasError('required')"
                class="fs-13 color-danger">
                  Campo obrigatório
                </p>

                <p
                *ngIf="adminsFormGroup.get('name')?.hasError('minlength')"
                class="fs-13 color-danger">
                  No mínimo 3 caracteres
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <hr class="rgs-divider">
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <h1 class="fs-24 font-baloo color-gray-text">
                Acesso ao <b>painel</b>
              </h1>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <div
            [ngClass]="{
            'has-error' : inputErrors.emailAlreadyInUse.show || (adminsFormGroup.get('email')?.invalid &&
            (adminsFormGroup.get('email')?.touched ||
            adminsFormGroup.get('email')?.dirty))}"
            class="rgs-input-wrapper full-width white-background-item label-w-white">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="clearErrorsIfExists('email-already-in-use'); justLowercase(adminsFormGroup, 'email')"
                (keydown)="preventWhitespace($event)"
                [label]="'E-mail'"
                labelPlacement="floating"
                enterkeyhint="next"
                mode="ios"
                formControlName="email"
                type="email"
                inputmode="email">
                </ion-input>
              </ion-item>

              <ion-text
              *ngIf="inputErrors.emailAlreadyInUse.show"
              mode="ios"
              class="mg-top-8 d-block">
                <p class="fs-12 color-danger">
                  {{ inputErrors.emailAlreadyInUse.text }}
                </p>
              </ion-text>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              adminsFormGroup.get('email')?.invalid &&
              (adminsFormGroup.get('email')?.touched || adminsFormGroup.get('email')?.dirty)">
                <p
                *ngIf="adminsFormGroup.get('email')?.hasError('required')"
                class="fs-12 color-danger">
                  campo obrigatório
                </p>

                <p
                *ngIf="adminsFormGroup.get('email')?.hasError('email')"
                class="fs-12 color-danger">
                  e-mail inválido
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <div
            [ngClass]="{
            'has-error' : (adminsFormGroup.get('password')?.invalid &&
            (adminsFormGroup.get('password')?.touched ||
            adminsFormGroup.get('password')?.dirty))}"
            class="rgs-input-wrapper full-width label-w-white item-has-button-at-end">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="checkPasswordRules()"
                (keydown)="preventWhitespace($event)"
                [type]="showCreatePassword ? 'text' : 'password'"
                [label]="'Senha'"
                labelPlacement="floating"
                formControlName="password"
                enterkeyhint="next"
                mode="ios"
                inputmode="text">
                </ion-input>

                <ion-button
                [title]="showCreatePassword ? 'Esconder senha' : 'Mostrar senha'"
                (click)="toggleCreatePassword()"
                type="button"
                class="clear-gray-light"
                mode="ios"
                fill="clear">
                  <ion-icon name="eye-off-outline" *ngIf="showCreatePassword"></ion-icon>
                  <ion-icon name="eye-outline" *ngIf="!showCreatePassword"></ion-icon>
                </ion-button>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              adminsFormGroup.get('password')?.invalid &&
              (adminsFormGroup.get('password')?.touched || adminsFormGroup.get('password')?.dirty)">
                <p
                *ngIf="adminsFormGroup.get('password')?.hasError('required')"
                class="fs-12 color-danger">
                  campo obrigatório
                </p>

                <p
                *ngIf="adminsFormGroup.get('password')?.hasError('minlength')"
                class="fs-12 color-danger">
                  no mínimo 8 caracteres
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <div
            [ngClass]="{
            'has-error' : (adminsFormGroup.get('confirmPassword')?.invalid &&
            (adminsFormGroup.get('confirmPassword')?.touched ||
            adminsFormGroup.get('confirmPassword')?.dirty))}"
            class="rgs-input-wrapper full-width label-w-white mg-bottom-16 item-has-button-at-end">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="checkPasswordsMatch();"
                (keydown)="preventWhitespace($event)"
                [label]="'Confirmar senha'"
                labelPlacement="floating"
                [type]="showCreateConfirmPassword ? 'text' : 'password'"
                formControlName="confirmPassword"
                enterkeyhint="send"
                mode="ios"
                inputmode="text">
                </ion-input>

                <ion-button
                [title]="showCreateConfirmPassword ? 'Esconder senha' : 'Mostrar senha'"
                (click)="toggleCreateConfirmPassword()"
                type="button"
                class="clear-gray-light"
                mode="ios"
                fill="clear">
                  <ion-icon name="eye-off-outline" *ngIf="showCreateConfirmPassword"></ion-icon>
                  <ion-icon name="eye-outline" *ngIf="!showCreateConfirmPassword"></ion-icon>
                </ion-button>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              adminsFormGroup.get('confirmPassword')?.invalid &&
              (adminsFormGroup.get('confirmPassword')?.touched || adminsFormGroup.get('confirmPassword')?.dirty)">
                <p
                *ngIf="adminsFormGroup.get('confirmPassword')?.hasError('required')"
                class="fs-12 color-danger">
                  campo obrigatório
                </p>

                <p
                *ngIf="adminsFormGroup.get('confirmPassword')?.hasError('minlength')"
                class="fs-12 color-danger">
                  no mínimo 8 caracteres
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <div class="password-wrapper">
              <ul>
                <li
                *ngFor="let rule of passwordRules"
                [ngClass]="{ 'has-rule' : rule.valid }"
                >
                  <ion-text mode="ios">
                    <p class="fs-14">
                      <ion-icon [name]="rule.valid ? 'checkmark-circle' : 'close-circle'" class="fs-16" />
                      {{ rule.text.pt }}
                    </p>
                  </ion-text>
                </li>
                <li
                [ngClass]="{ 'has-rule' : passwordsMatch }"
                >
                  <ion-text mode="ios">
                    <p class="fs-14">
                      <ion-icon [name]="passwordsMatch ? 'checkmark-circle' : 'close-circle'" class="fs-16" />
                      {{ passwordMatch.text.pt }}
                    </p>
                  </ion-text>
                </li>
              </ul>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </section>
</ion-content>

<ion-footer
mode="ios"
class="ion-no-border bg-white">
  <ion-toolbar
  mode="ios"
  class="ion-bg-white ">
    <div class="footer-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button
            (click)="registerAdmin()"
            [disabled]="isCreating || adminsFormGroup.invalid || !passwordIsValid || !passwordsMatch"
            title="Cadastrar administrador"
            class="rgs-main-solid fs-14"
            mode="md"
            shape="round">
              <ng-container *ngIf="!isCreating">
                <ion-icon name="person-add-outline" class="mg-right-8" /> <b class="mg-right-5">Cadastrar</b> administrador
              </ng-container>

              <ng-container *ngIf="isCreating">
                <ion-spinner name="dots" />
              </ng-container>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-footer>
