@import 'src/assets/scss/utils/mixins.scss';

form {
  &.login {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include flexbox(center, flex-start, row);

    ng-lottie {
      position: fixed;
      right: -15vw;
      top: 50%;
      transform: translateY(-50%);
      width: 80vw;
      opacity: .3;
    }

    ion-grid { flex: none; }
  }
}

ion-button {
  &.login-button {
    min-width: 190px;
  }
}
