<ion-fab
mode="ios"
slot="fixed"
vertical="bottom"
horizontal="end">
  <ion-fab-button>
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button
    (click)="openModalToCreateStablishment()">
      <ng-container *ngIf="feature === FeaturesEnum.LUGARES"><ion-icon name="storefront-outline"></ion-icon></ng-container>
      <ng-container *ngIf="feature === FeaturesEnum.SUGESTOES"><ion-icon name="bulb-outline"></ion-icon></ng-container>
      <ng-container *ngIf="feature === FeaturesEnum.USUARIOS"><ion-icon name="person-add-outline"></ion-icon></ng-container>
      <ng-container *ngIf="feature === FeaturesEnum.ADMINS"><ion-icon name="key-outline"></ion-icon></ng-container>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
