@import './../../../../assets/scss/utils/mixins.scss';

.usuarios-swiper-wrapper {
  width: 100%;
}

.user-circle-wrapper {
  @include flexbox(center, center, column);
  width: auto;

  ion-icon {
    &.verified {
      position: absolute;
      top: 5px;
      right: 0;
      font-size: 23px;
    }
  }

  .circle-frame {
    width: 82px;
    height: 82px;
    padding: 4px;
    border-radius: 100%;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 200ms ease;
    @include flexbox(center, center, row);
    overflow: hidden;

    ion-icon {
      font-size: 32px;
      opacity: .4;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      }
    }
  }
}
