<ion-content
[forceOverscroll]="false"
class="ion-content-w-linear-bg">
  <section class="usuarios">

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-text mode="ios">
            <p class="font-baloo fs-20 color-gray-text font-w-thin">
              Resumo dos <b class="txt-lowercase">usuários</b>
            </p>
            <p class="fs-14 color-gray-text font-w-thin mg-bottom-8">
              Todos os usuários do sistema.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="usuarios-swiper-wrapper">
      <swiper-container
      [attr.centered-slides]="false"
      speed="5000"
      [init]="true"
      (swiperslidechange)="listenForSwiperForControl($event)"
      class="full-width swiper-w-relative-pagination"
      #usersSwiper
      free-mode="true"
      [autoHeight]="false"
      slides-offset-before="16"
      slides-offset-after="16"
      initial-slide="0"
      slides-per-view="auto"
      [attr.space-between]="16">
        <ng-container *ngIf="users && users.length > 0">
          <swiper-slide
          *ngFor="let user of users; let i = index; trackBy: trackUserById"
          class="unlock-shadow-from-swiper bigger auto-width">
            <div class="user-circle-wrapper">
              <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" *ngIf="user.premiumInfo.isPremium"></ion-icon>

              <div class="circle-frame mg-bottom-16">
                <ion-icon name="person-outline" class="color-gray-mid"></ion-icon>
              </div>

              <ion-text mode="ios" class="txt-center line-height-16">
                <p class="mg-top-8 font-baloo fs-14 color-gray-text font-w-bold">{{ user.firstName }}</p>
                <p class="font-baloo fs-14 color-gray-text mg-bottom-8" *ngIf="user.lastName">{{ user.lastName }}</p>
              </ion-text>

              <ion-chip
              *ngIf="user.userType && user.userType.value"
              [ngClass]="user.userType.value === ProfileTypeEnum.MORADOR ? 'resident' : 'tourist'"
              mode="ios"
              class="txt-uppercase as-badge">
                {{ user.userType?.text?.pt }}
              </ion-chip>

              <ion-item
              (click)="seeUser(user)"
              [ngClass]="{ 'is-premium': user.premiumInfo.isPremium }"
              lines="none"
              [button]="true"
              mode="ios">
                <ion-text mode="ios" class="fs-13 font-w-thin">
                  <p>ver <b>perfil</b></p>
                </ion-text>
              </ion-item>
            </div>
          </swiper-slide>
        </ng-container>

        <ng-container *ngIf="!users">
          <swiper-slide *ngFor="let item of [1,2,3,4,5,6]" class="unlock-shadow-from-swiper bigger auto-width">
            <ion-skeleton-text [animated]="true" class="like-profile-type-card"></ion-skeleton-text>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ng-container *ngIf="users && users.length > 0">
          <ion-col size="6">
            <div class="controls-wrapper">
              <ion-button
              (click)="slideToPrev()"
              [disabled]="hideLeftControl || (users && users.length < 2)"
              mode="md"
              class="rgs-main-solid fs-14 mg-right-8"
              shape="round"
              title="">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>

              <ion-button
              (click)="slideToNext()"
              [disabled]="hideRightControl || (users && users.length < 2)"
              mode="md"
              class="rgs-main-solid fs-14"
              shape="round"
              title="">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>

          <ion-col size="6" class="txt-right">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid">
                <b class="fs-14">{{ users.length }}</b> <span class="txt-lowercase mg-left-5"><ng-container *ngIf="users.length === 1">pessoa</ng-container><ng-container *ngIf="users.length > 1">pessoas</ng-container>.</span>
              </p>
            </ion-text>
          </ion-col>
        </ng-container>

        <ion-col size="12">
          <hr class="rgs-divider">
        </ion-col>

        <ion-col
        size="12">
          <div class="anf-frame">
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-sm="6" size-md="4" *ngFor="let option of usersResume">
                  <div class="dashboard-item">
                    <ion-item
                    lines="none"
                    mode="ios">
                      <ion-text mode="ios" class="txt-left inverse">
                        <p class="length-desc txt-uppercase">{{ option.sub_title }}</p>
                        <p class="length-title"><b>{{ option.title }}</b></p>
                      </ion-text>

                      <ion-text mode="ios" class="txt-right">
                        <p class="length font-baloo" *ngIf="option.length"><b>{{ option.length }}</b></p>
                        <p class="length font-baloo" *ngIf="option.length === 0"><b>0</b></p>
                      </ion-text>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12" size-md="4" class="txt-center mg-bottom-32">
          <div
          class="profile-type-card tourists is-selected">
            <div class="residents-animation">
              <ng-lottie [options]="touristOptions" (animationCreated)="touristAnimationCreated($event)"/>
            </div>

            <ion-grid>
              <ion-row>
                <ion-col size="12" class="txt-center">
                  <ion-chip
                  mode="ios"
                  class="txt-uppercase as-badge tourist">
                    Turistas
                  </ion-chip>

                  <ion-text mode="ios" class="font-w-thin line-height-22">
                    <p class="color-bootstrap-tourist font-baloo fs-20 font-w-normal mg-top-16"><b>{{ touristsLength }}</b></p>
                    <p class="fs-14 mg-top-5">até o momento.</p>
                  </ion-text>

                  <div class="simulate-space"></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>

        <ion-col size="12" size-md="4" class="txt-center mg-bottom-32">
          <div
          class="profile-type-card residents is-selected">
            <div class="residents-animation">
              <ng-lottie [options]="residentOptions" (animationCreated)="residentsAnimationCreated($event)" />
            </div>

            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-chip
                  mode="ios"
                  class="txt-uppercase as-badge resident">
                    Moradores
                  </ion-chip>

                  <ion-text mode="ios" class="font-w-thin line-height-22">
                    <p class="color-bootstrap-resident font-baloo fs-20 font-w-normal mg-top-16"><b>{{ residentsLength }}</b></p>
                    <p class="fs-14 mg-top-5">até o momento.</p>
                  </ion-text>

                  <div class="simulate-space"></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>

        <ion-col size="12" size-md="4" class="txt-center mg-bottom-32">
          <div
          class="profile-type-card none-of">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-chip
                  mode="ios"
                  class="txt-uppercase as-badge gray">
                    Indefinido
                  </ion-chip>

                  <ion-text mode="ios" class="font-w-thin line-height-22">
                    <p class="color-gray-text font-baloo fs-20 font-w-normal mg-top-16"><b>{{ profileTypeNotDefinedLength }}</b></p>
                    <p class="fs-14 mg-top-5">não informaram.</p>
                  </ion-text>

                  <div class="simulate-space"></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <app-add [feature]="FeaturesEnum.USUARIOS"></app-add>
</ion-content>

<ion-footer mode="ios" class="general-footer bg-gray-ed">
  <ion-toolbar mode="ios" class="ion-bg-gray-ed">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <app-made-w-love></app-made-w-love>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
