<ion-content
forceOverscroll="false">
  <section class="painel-rua-gastronomica">
    <ion-grid [fixed]="true">
      <ion-row>

        <ion-col size="12">
          <ion-text mode="ios" class="line-height-22">
            <p class="fs-14 color-gray-6">Santos, {{ today }}.</p>

            <h2 class="fs-24 color-gray-text font-baloo">Gestão da <b>Rua Gastronômica de Santos</b></h2>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-grid class="no-padding">
            <ion-row class="no-padding">
              <ion-col size="12" class="no-pad-sides">
                <ion-text mode="ios" class="d-block">
                  <h2 class="fs-20 color-gray-text font-baloo">Visão <b>geral</b></h2>
                </ion-text>
              </ion-col>

              <ion-col
              *ngFor="let info of lenghts_to_save_time; let i = index"
              size="6"
              size-sm="4"
              size-md="3"
              size-lg="1.5">
                <ion-item
                [disabled]="info.list.length === 0"
                [button]="true"
                size="12"
                lines="none"
                class="dashboard-item">
                  <ion-text mode="ios">
                    <p class="color-green font-baloo length">{{ info.list.length }}</p>
                    <p class="color-gray-text type fs-10 txt-uppercase" *ngIf="info.list.length < 2">
                      {{ info.text.pt }}
                    </p>
                    <p class="color-gray-text type fs-10 txt-uppercase" *ngIf="info.list.length > 1">
                      {{ info.plural.pt }}
                    </p>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="12" *ngIf="short_establishments && short_establishments.length === 0">
          <ion-text mode="ios">
            <p class="fs-14 color-gray-text">Como não encontramos pelo menos um estabelecimento, ainda não foi possível definir a quantidade.</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <div class="establishments-wrapper">
    <swiper-container
    class="full-width swiper-w-relative-pagination"
    [init]="true"
    #establishmentsSwiper
    [freeMode]="false"
    [autoHeight]="false"
    slides-offset-before="16"
    slides-offset-after="16"
    initial-slide="0"
    [slidesPerView]="1"
    space-between="16"
    [breakpoints]="{
     '200' : {
        slidesPerView: 1.7
      },
      '363' : {
        slidesPerView: 1.9
      },
      '445' : {
        slidesPerView: 2.4
      },
      '667' : {
        slidesPerView: 3.4
      },
      '792' : {
        slidesPerView: 3.8
      },
      '991' : {
        slidesPerView: 4.5,
        centeredSlides: false
      },
      '1200' : {
        slidesPerView: 5.2
      },
      '1300' : {
        slidesPerView: 6.7
      },
      '1600' : {
        slidesPerView: 8
      }
      ,
      '2000' : {
        slidesPerView: 10.3
      }
    }">
      <ng-container *ngIf="short_establishments && short_establishments.length > 0">
        <swiper-slide
        *ngFor="let establishment of short_establishments; let i = index"
        class="unlock-shadow-from-swiper auto-width">
          <ion-card
          [ngClass]="{ 'coming-soon': establishment.isBuilding }"
          mode="ios"
          class="establishment-card-vertical"
          lines="none">
            <ion-card-content class="txt-center" mode="ios">
              <div class="logo-wrapper mg-bottom-12">
                <div class="logo-container"
                [ngClass]="{'has-image': !isLoadingLogo, 'logo-needs-gray-2' : establishment.value === 'galeteria-santista'}">
                  <ion-spinner name="lines-sharp-small" *ngIf="isLoadingLogo"></ion-spinner>

                  <ion-img
                  *ngIf="!isLoadingLogo"
                  (ionImgDidLoad)="imageHasLoaded()"
                  [src]="'./../../../../assets/images/establishments/' + establishment.value + (establishment.value === 'bistro-14' || establishment.value === 'galeteria-santista' ? '.png' : '.jpg')">
                  </ion-img>
                </div>
              </div>

              <ion-text mode="ios" class="txt-center">
                <p class="color-gray-text txt-uppercase type font-w-thin type">
                  {{ establishment.mainType.text.pt }}
                </p>
                <h2 class="color-gray-text font-baloo name"><b>{{ establishment.name }}</b></h2>
                <p class="number color-gray-text">n&ordm; {{ establishment.adress.number }}</p>
              </ion-text>
            </ion-card-content>

            <ion-card-footer mode="ios">
              <ion-button
              (click)="seeEstablishment(establishment)"
              title="Ver detalhes"
              mode="md"
              class="full-width">
                Ver <b class="mg-left-5">detalhes</b> <ion-icon name="arrow-forward" class="mg-left-5"></ion-icon>
              </ion-button>
            </ion-card-footer>
          </ion-card>
        </swiper-slide>
      </ng-container>

      <ng-container *ngIf="!short_establishments">
        <swiper-slide
        *ngFor="let establishment of [1,2,3,4,5]; let i = index"
        class="unlock-shadow-from-swiper auto-width">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </swiper-slide>
      </ng-container>
    </swiper-container>

    <ion-grid [fixed]="true" *ngIf="short_establishments && short_establishments.length === 0">
      <ion-row>
        <ion-col size="12">
          <ion-text mode="ios">
            <p class="fs-14 color-gray-text">Não existem estabelecimento cadastrados.</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab
  mode="ios"
  slot="fixed"
  vertical="bottom"
  horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button
      (click)="openModalToCreateStablishment()">
        <ion-icon name="storefront-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button
      (click)="openModalToCreateParking()">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
