ion-content {
  section {
    max-width: 445px;
    margin: 0 auto;

    &.suggestion {
      padding: 16px;
    }
  }
}

.footer-wrapper {
  max-width: 445px;
  margin: 0 auto;

  ion-button {
    width: 100%;
    height: 48px;
  }
}

.array-item {
  background: var(--gray-fa);
  border-radius: 16px;
  padding: 16px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin: 0 0 20px 0;

  &.less-padding {
    padding: 16px 8px;
  }

  .item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;


    ion-button {
      margin: 0 -8px 0 0;

      ion-icon {
        font-size: 22px;
      }
    }
  }
}
